$black: #000000;
$red: #d15148;
$lavender: #957dd3;
$green: #719d6e;
$light-blue: #72a1fa;
$purple: #8e445d;
$gray: #83828b;
$pink: #e899d4;
$white: #ffffff;
$light-grey: #f3f3f3;
$dark-green: #394b33;
$tan: #f2ecdc;
$very-dark-green: #1a2218;
