@media (min-width: 768px) {
	.header {
		&__item {
			&-icon {
				font-size: 30rem;
			}

			&-quote {
				font-size: 1.9rem;
			}

			&-author {
				font-size: 1.6rem;
			}
		}
	}

	// ABOUT

	.about {
		flex-direction: row;

		&__box {
			&--right {
				display: flex;
			}
		}
		&__p {
			padding: 1.7rem;
			font-size: 1.6rem;
		}
	}

	// PORTFOLIO

	.portfolio {
		grid-template-columns: repeat(2, 1fr);

		&__item {
			&:nth-child(odd) {
				border-right: 0.5px solid rgba(0, 0, 0, 0.3);
			}
		}
		&__top {
			width: 300px;
			height: 150px;
		}

		&__bottom {
			width: 350px;
		}

		&__title {
			font-size: 2rem;
		}

		&__description {
			font-size: 1.2rem;
		}
	}
}
